<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40-client" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net40-client" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net40-client" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net40-client" />
</packages>