<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SupComercio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SupComercio.Properties.Settings>
            <setting name="winSize" serializeAs="String">
                <value>500, 500</value>
            </setting>
            <setting name="NombreComercio" serializeAs="String">
                <value>Nombre por Defecto</value>
            </setting>
            <setting name="DireccionComercio" serializeAs="String">
                <value>Direccion por Defecto</value>
            </setting>
            <setting name="Mac" serializeAs="String">
                <value />
            </setting>
            <setting name="Licencia" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaExpiracion" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaUltimaValidacion" serializeAs="String">
                <value />
            </setting>
            <setting name="NombreTicketera" serializeAs="String">
                <value />
            </setting>
            <setting name="TamanioTicketera" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Ruta_articulos" serializeAs="String">
                <value />
            </setting>
            <setting name="Archivo_articulos" serializeAs="String">
                <value>/emp.dat</value>
            </setting>
            <setting name="CantidadArticulos" serializeAs="String">
                <value>0</value>
            </setting>
        </SupComercio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.19.0" newVersion="1.11.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
